<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles.css" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	  <script src="app.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="container" ng-controller="myAppController">
		<h1>Hacker News</h1>
		<div id="search_field" class="form-group">
			<input ng-model="search" autofocus placeholder="s e a r c h"/>
		</div>
		<div class="wrapper">
			<ul ng-repeat="post in posts | filter: search">
				<a href="{{post.url}}" target="_blank"><li>{{post.title}}</li></a>
			<ul>
		</div>
	</div>
	</body>
</html>
