body{
	background: linear-gradient(to right, #00ae7b, #0081bf);
	color: white;
}

*, h1{
	font-family: Quicksand;
	color: white;
}

li{
	list-style-type: none;
	font-size: 18pt;
	display: inline-block;
}

p{
	font-size: 12pt;
}

h1{
	font-weight: inherit;
	text-align: center;
}

.wrapper ul a{
	text-decoration: none;
}

input{
	border: none;
	margin: auto;
	color: white;
	background: inherit;
}

input:focus{
	outline-width: 0;
}

::-webkit-input-placeholder{
	color: white;
}

#search_field{
	margin-left: 40px;
}

/*
.container, #search_field, .wrapper, li{
	border: 1px solid white;
}
*/
li:hover{
	color: yellow;
}
