body{
	background: linear-gradient(to right, #fbc2eb, #a6c1ee);
	text-align: center;
	color: white;
}
*, h1{
	font-family: Quicksand;
	color: white;
}
li{
	list-style-type: none;
	font-size: 24pt;
}
p{
	font-size: 12pt;
}
h1{
	font-weight: inherit;
	text-align: center;
}
a{
	text-decoration: none;
}
